language: php
php:
  - 7.1
  - 7.2

before_script:
  - composer require satooshi/php-coveralls:1.*
  - composer install --dev --prefer-source

script:
  - composer test

after_script:
  - php vendor/bin/coveralls -v
